extends layout

block content
  h1= title
  .row.page-header
    .row
      .col-xs-12.col-md-6
        form.form-horizontal(action="/add", method="post", role="form")
          .form-group
            label.col-xs-10.col-sm-3.control-label(for="song") Song
            .col-xs-12.col-sm-9
              input#song.form-control(name="name")
          .form-group
            label.col-xs-10.col-sm-3.control-label(for="artist") Artist
            .col-xs-12.col-sm-9
              input#artist.form-control(name="artist")
          .form-group
            label.col-xs-10.col-sm-3.control-label(for="genre") Genre
            .col-xs-12.col-sm-9
              input#genre.form-control(name="genre")    
          button.btn.btn-default.btn-sm.pull-right Add new song